{% extends 'base.html' %}
{% load static %}

{% block title %}修改密码{% endblock %}
{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
{% block content %}
<div class=" formback">
  <div class="loginform jumbotron ">
    <h3>修改密码🎃</h3>
<!--    <div class="container">-->
<!--        <div class="col-md-4 col-md-offset-4">-->
          <form class='form-register' action="/customer/change_password/" method="post">

               {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}
              <div class="form-group">
                  <div class="text-left"><label for="InputUsername">用户名:</label></div>
                  <input type="text" class="form-control" placeholder="……" id="username" name="username">
              </div>
              <div class="form-group">
                  <div class="text-left"><label for="InputUsername">原密码:</label></div>
                  <input type="password" class="form-control" placeholder="……" id="password" name="password">
              </div>
              <div class="form-group">
                  <div class="text-left"><label for="InputPassword">密码：</label></div>
                  <input type="password" class="form-control" placeholder="……" id="password1" name="password1">
              </div>
              <div class="form-group">
                  <div class="text-left"><label for="InputUsername">确认密码:</label></div>
                  <input type="password" class="form-control" placeholder="……" id="password2" name="password2">

              </div>
              <div class="form-group">
                <div class="text-left">
                     <label  for="InputType">顾客类别:</label>
                 <select class="form-control " id="sel1" name="type">
                    <option>学生</option>
                    <option>老师</option>
                </select>

                </div>
            </div>


              <button type="submit" class="btn btn-primary pull-middle btn-lg">修改</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}