{% extends 'base.html' %}
{% load static %}
{% block title %}点餐{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}

{% block content %}

<div class="container formback">
    <div class="loginform center-block jumbotron">
         {% if message %}
              <div class="alert alert-warning">{{ message }}</div>
           {% endif %}
            <div class=" " style="margin-bottom: 40px;">{{stall.name}}您好</div>
             {% csrf_token %}
            <ul class="nav  nav-pills pull-right nav-justified">

            <li class="nav-item">
              <a class="nav-link active" href="/shop/order">订单管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/shop/dish/">菜品管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/shop/message/">信息管理</a>
            </li>
          </ul>
            <br>
    </div>

</div>

{% endblock %}